<%# error_messages_for(@incident) %>
<div class="col-sm-6">
<table summary="Incdent form field" role="form">
  <div class="form-group">
    <%= f.label(:title, "Title", label: "Title") %>
    <%= f.text_field(:title, class: "form-control", placeholder: "Incident title") %>
  </div>
  <div class="form-group">
    <%= f.label(:source, "Source", label: "Source") %>
    <%= f.text_field(:source, class: "form-control", placeholder: "Source - eg: Monitoring") %>
  </div>
  <div class="form-group">
    <%= f.label(:severity, "Severity", label: "Severity") %>
    <%= f.select(:severity, (1..3), class: "from-control", :selected => '3') %>
  </div>
  <div class="form-group">
    <%= f.label(:impact, "Impact", label: "Impact") %>
    <%= f.text_field(:impact, class: "form-control", placeholder: "Imapct statement for incident") %>
  </div>
  <div class="form-group">
    <%= f.label(:platform, "Platform", label: "Platform") %>
    <%= f.text_field(:platform, class: "form-control", placeholder: "Platform affected") %>
  </div>
  <div class="form-group">
    <%= f.label(:cs_status, "Customer Status", label: "Customer Status") %>
    <%= f.select(:cs_status, [['Open', false],['Closed', true]], class: "form-control", :selected => 'Open') %>
  </div>
  <div class="form-group">
    <%= f.label(:tech_status, "Technical Status", label: "Technical Status") %>
    <%= f.select(:tech_status, [['Open', false],['Closed', true]], class: "form-control", :selected => 'Open') %>
  </div>
  <div class="form-group">
    <%= f.label(:update_due, "Update Due", label: "Update Due") %>
    <%= f.datetime_select(:update_due, :order => [:day, :month, :year], :minute_step => 15) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label(:callout, "Callout", label: "Callout") %>
    <%= f.check_box(:callout) %>
  </div>
  <div class="form-group">
    <%= f.label(:incident_manager, "Incident Manager", label: "Incident Manager") %>
    <%= f.text_field(:incident_manager, class: "form-control", placeholder: "Incident Manager") %>
  </div>
</div>
  <hr />
</table>
<% if(params.has_key?(:id)) %>
  <%= render(:partial => "update", :locals => {:f => f}) %>
<% else %>
  <%= f.fields_for :incident_updates do |u| %>
    <%= render(:partial => "form_updates", :locals => {:u => u}) %>
  <% end %>
<% end %>

