<%= f.fields_for :incident_updates, @incident.incident_updates.new do |u|%>

<h3>Updates</h3>
<div class="form-group">
  <%= u.label :cs_update, "Customer Update" %>
  <%= u.text_area :cs_update, :rows => 5, type: "text", class: "form-control" %>
</div> 
<div class="form_group"> 
  <%= u.label :tech_update, "Technical Update" %>
  <%= u.text_area :tech_update, :rows => 5, type: "text", class: "form-control" %>
</div>
</table>
<% end %>

<table class="table table-striped">
 <thead>
  <tr>
    <th>Time</th>
    <th>Customer Update</th>
    <th>Technical Update</th>
  </tr>
 </thead>
 <tbody>
<% for update in @incident.incident_updates.sorted %>
  <tr>
    <td><%= update.created_at.to_s(:short) %></td>
    <td><%= update.cs_update %></td>
    <td><%= update.tech_update %></td>
  </tr>
<% end %>
</tbody>
</table>

