<%# :page_title = "Incidents" %>
<div class="page-header">
  <h2>Closed Incidents</h2>
</div>
  <%= link_to("incidents", class: "btn btn-primary", style: "color:white") do %>
    Open Incidents
    <span class="badge"><%= @openincidents.size %></span>
  <% end %>
  <%= link_to("Closed Incidents", {:action => 'closed'}, class: "btn btn-default", style: "color:inherit")  %>

<table class="table table-hover table-striped">
<thead>
  <tr>
    <th>Title</th>
    <th>Severity</th>
    <th>Incident Manager</th>
    <th>CS Status</th>
    <th>Tech Status</th>
    <th>Update Due</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.title %></td>
    <td><%= incident.severity %></td>
    <td><%= incident.incident_manager %></td>
    <td><%= incident.cs_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.tech_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.update_due.to_s(:short) %></td>
    <td>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <%= link_to("Show", {:action => 'show', :id => incident.id}, class: "btn btn-default", style: "color:inherit") %>
        <%= link_to("Update", {:action => 'edit', :id => incident.id}, class: "btn btn-default", style: "color:inherit") %>
      </div>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<%= link_to("New Incident", {:action => 'new'}, class: "btn btn-success pull-right", style: "color:white") %>
