<%# :page_title = "Incidents" %>

<h2>Incidents</h2>

<p><%= pluralize(@incidents.size, 'incident') %> open</p>

<%= link_to("New Incident", {:action => 'new'} ) %>
<%= link_to("Closed Incidents", {:action => 'closed'} ) %>

<table>
  <tr>
    <th>Title</th>
    <th>Severity</th>
    <th>Incident Manager</th>
    <th>CS Status</th>
    <th>Tech Status</th>
    <th>Update Due</th>
    <th>Actions</th>
  </tr>
  <tr>
  <% @incidents.each do |incident| %>
    <td><%= incident.title %></td>
    <td><%= incident.severity %></td>
    <td><%= incident.incident_manager %></td>
    <td><%= incident.cs_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.tech_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.update_due.to_s(:short) %></td>
    <td><%= link_to("Show", {:action => 'show', :id => incident.id}) %>
        <%= link_to("Update", {:action => 'edit', :id => incident.id}) %>
    </td>
  </tr>
  <% end %>
</table>
