<%# :page_title = "Incidents" %>
<div class="page-header">
  <h2>Incidents</h2>
</div>


<div class="alert alert-info" role="alert"><%= pluralize(@incidents.size, 'incident') %> open</div>

<button type="button" class="btn btn-success">
  <%= link_to("New Incident", {:action => 'new'} ) %>
</button>
<button type="button" class="btn btn-default">
  <%= link_to("Closed Incidents", {:action => 'closed'} ) %>
</button>

<table class="table table-hover">
<thead>
  <tr>
    <th>Title</th>
    <th>Severity</th>
    <th>Incident Manager</th>
    <th>CS Status</th>
    <th>Tech Status</th>
    <th>Update Due</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @incidents.each do |incident| %>
  <% if incident.update_due.past? %>
    <tr class="danger">
  <% else %>
    <tr class="success">
  <% end %> 
    <td><%= incident.title %></td>
    <td><%= incident.severity %></td>
    <td><%= incident.incident_manager %></td>
    <td><%= incident.cs_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.tech_status ? 'Closed' : 'Open' %></td>
    <td><%= incident.update_due.to_s(:short) %></td>
    <td>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><%= link_to("Show", {:action => 'show', :id => incident.id}) %></button>
        <button type="button" class="btn btn-default"><%= link_to("Update", {:action => 'edit', :id => incident.id}) %></button>
      </div>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

