<% @page_title = @incident.title %>

<div class="page-header">
<h2>Summary for <%= @incident.title %></h2>
</div>
<div class="row">
<div class="col-md-8">
  <%= link_to("/incidents",  class: "btn btn-primary", style: "color:white") do %>
    Open Incidents
    <span class="badge"><%= @openincidents.size %></span>
  <% end %>
  <%= link_to("Closed Incidents", {:action => 'closed'}, class: "btn btn-default", style: "color:inherit")  %>
  <hr>  
<table summary="Incident Detail View" class="table table-bordered">
  <thead>
    <tr>
      <th>Source</th>
      <th>Severity</th>
      <th>Incident Manager</th>
      <th>Impact</th>
      <th>Platform</th>
      <th>Customer Status</th>
      <th>Technical Status</th>
      <th>Update Due</th>
      <th>Callout</th>
    </tr>
  <tbody>
  <% if @incident.update_due.past? %>
    <tr class="danger">
  <% else %>
    <tr class="success">
  <% end %>
      <td><%= @incident.source %>
      <td><%= @incident.severity %>
      <td><%= @incident.incident_manager %>
      <td><%= @incident.impact %>
      <td><%= @incident.platform %>
      <td><%= @incident.cs_status ? 'Closed' : 'Open' %>
      <td><%= @incident.tech_status ? 'Closed' : 'Open' %>
      <td><%= @incident.update_due.to_s(:short) %>
      <td><%= @incident.callout ? 'Yes' : 'No' %>
    </tr>
  </tbody>
</table>

<h3 class="text-center">Previous Updates</h3>
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">Customer Updates</h4>
  </div>
  <div class="col-md-6">
    <h4 class="text-center">Technical Updates</h4>
  </div>
</div>
<ul class="timeline">
<% @incident.incident_updates.sorted.each do |update| %>
  <% if update.tech_update.blank? %>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <p>Customer Update at <%= update.created_at.to_s(:short) %></p>
        </div>
        <div class="timeline-body">
          <p><%= update.cs_update %></p>
        </div>
      </div>
  </li>
  <% elsif update.cs_update.blank? %>
  <li class="timeline-inverted">
    <div class="timeline-panel">
      <div class="timeline-heading">
        <p>Technical Update at <%= update.created_at.to_s(:short) %></p>
      </div>
      <div class="timeline-body">
        <p><%= update.tech_update %></p>
      </div>
  </li>
  <% else %>
  <li>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <p>Customer Update at <%= update.created_at.to_s(:short) %></p>
      </div>
      <div class="timeline-body">
        <p><%= update.cs_update %></p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-panel">
      <div class="timeline-heading">
        <p>Technical Update at <%= update.created_at.to_s(:short) %></p>
      </div>
      <div class="timeline-body">
        <p><%= update.tech_update %></p>
      </div>
    </div>
  </li>
  <% end %>
<% end %>
</ul>  

<!-- <table class="table table-striped">
 <thead>
  <tr>
    <th>Time</th>
    <th>Customer Update</th>
    <th>Technical Update</th>
  </tr>
 </thead>
 <tbody>
<% for update in @incident.incident_updates.sorted %>
  <tr>
    <td><%# update.created_at.to_s(:short) %></td>
    <td><%# update.cs_update %></td>
    <td><%# update.tech_update %></td>
  </tr>
<% end %>
</tbody>
</table> -->
<%= link_to("Update", {:action => 'edit', :id => @incident.id}, class: "btn btn-success pull-right") %>
</div>
</div>
