<%# error_messages_for(@update) %>
<table>
  <tr>
    <th><%= f.label(:cs_update, "Customer Update") %></th>
    <td><%= f.text_field(:cs_update) %></td>
  </tr>
  <tr>
    <th><%= f.label(:tech_update, "Technical Update") %></th>
    <td><%= f.text_field(:tech_update) %></td>
  </tr>
  <tr>
    <th><%= f.label(:incident_id, "Incident") %></th>
    <td><%= f.text_field(:incident_id, :readonly => true) %></td>
  </tr>
</table>
