<%= link_to("<< Back", {:controller => 'incidents', :action => 'index' } ) %>

<%= link_to("Add new Update", {:action => 'new', :incident_id => @incident.id} ) %>

<table>
  <tr>
    <th>Incident Title</th>
    <th>Customer Update</th>
    <th>Technical Update</th>
    <th>Actions</th>
  </tr>
  <% @updates.each do |update| %>
  <tr>
    <td><%= @incident.title %></td>
    <td><%= update.cs_update %></td>
    <td><%= update.tech_update %></td>
    <td>
      <%= link_to("Show", {:action => 'show', :id => update.id, :incident_id => @incident.id}) %>
      <%= link_to("Edit", {:action => 'edit', :id => update.id, :incident_id => @incident.id}) %>
    </td>
  </tr>
  <% end %>
</table>
